{% extends 'Templates/base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
{% endblock %}
{% block menu %}
   {{ parent() }}
{% endblock %}

{% block body %}
    <hr align="left" class="séparateur">
    <div id="barre_menu_management">
        <ul>
            <li><a class="navMenuManagement" href="{{path('fos_user_change_password')}}"><span class="fas fa-sign-in-alt"></span> chgmnt mdp</a></li>
            <li><a class="navMenuManagement" href="{{path('fos_user_resetting_request')}}"><span class="fas fa-sign-in-alt"></span> reset mdp</a></li>
            <li><a class="navMenuManagement" href="{{path('fos_user_profile_edit')}}"><span class="fas fa-sign-in-alt"></span> edit profile</a></li>
            {% if is_granted('ROLE_ADMIN') is same as(true) %}
                <li><a class="navMenuManagement" href="{{path('fos_user_registration_register')}}"><span class="fas fa-sign-in-alt"></span> Inscription</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
