{% extends 'Templates/base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/main_1.css')}}" />
        <link rel="icon" type="image/png" href="{{asset('images/icons/favicon.ico')}}"/>
	<link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/vendor/animate/animate.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/vendor/css-hamburgers/hamburgers.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/vendor/select2/select2.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/util.css')}}">
{#        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />#}

{% endblock %}
{% block menu %}

{% endblock %}
{% block body %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form class="login100-form validate-form" action="{{path('login')}}" method="post">
                <span class="login100-form-title p-b-55">
                    <img id="logo" src="{{asset('images/logo.png')}}" >
                    <label id="login_label" for="username">Connexion</label>
                </span>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Adresse mail ou nom d'utilisateur"/>
                    <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-envelope"></span>
                        </span>
                </div>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="password" id="password" name="_password" placeholder="Mot de passe"/>
                    {#<label for="password">Password:</label>#}
                    <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-lock"></span>
                        </span>
                </div>
                <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
                >
        {#        <input type="hidden" name="_target_path" value="{{ path('index') }}" />#}
              {#  <input type="hidden" name="_failure_path" value="{{ path('index') }}" />#}
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn" type="submit">Connexion</button>
                </div>

            </form>
                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
        </div>
    </div>
</div>

<!--===============================================================================================-->
	<script src="/administration/web/css/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/administration/web/css/vendor/bootstrap/js/popper.js"></script>
	<script src="/administration/web/css/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/administration/web/css/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/administration/web/js/main.js"></script>

{% endblock %}