<!DOCTYPE html>
<html>
   {% set route = app.request.headers.get('referer') %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Une erreur s'est produite: {{ status_text }}</title>
  </head>
  <body>
    <h1>Oops! Une erreur s'est produite</h1>
    <h2>Le serveur a retourné: "{{ status_code }} {{ status_text }}".</h2>

    <div>
      Quelque chose est cassé. S'il vous plaît envoyez-nous un courriel à [email] et laissez-nous savoir
      ce que vous faisiez quand cette erreur s'est produite. Nous allons le réparer dès que possible
      possible. Désolé pour tout inconvénient causé.
    </div>


    <a href="{{route}}"><b>retourner sur la page précédentes</b></a> ou
    <a href="{{path('index')}}"><b>retourner sur la page d'accueil</b></a>. </p>
  </body>
</html>