{% extends 'Templates/baseSubMenu.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
{% endblock %}
{% block menu %}
    {{ parent() }}
    <h1 class="titre_form"> Inscription </h1>
<hr align="left" class="séparateur">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ parent() }}
            </div>
            {% trans_default_domain 'FOSUserBundle' %}
            {% for message in app.flashes('registered') %}
                <div class="flash-register">
                    <p> {{ message }} <p>
                </div>
            {% endfor %}
            {% for message in app.flashes('fos_user_success') %}
                <div class="flash-register">
                    <p> {{ message }} <p>
                </div>
            {% endfor %}

            <div class="col-md-7 col-push-5">
                <form id="profileForm" action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
                    <table>
                        <tr>
                            <td> {{ form_label (form.email) }} </td>
                            <td> {{ form_widget (form.email) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.username) }} </td>
                            <td> {{ form_widget (form.username) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.plainPassword['first']) }} </td>
                            <td> {{ form_widget (form.plainPassword['first']) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.plainPassword['second']) }} </td>
                            <td> {{ form_widget (form.plainPassword['second']) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.roles) }} </td>
                            <td> {{ form_widget (form.roles) }} </td>
                        </tr>

                    </table>
                    <div>
                        <button type="submit" value="{{ 'registration.submit'|trans }}" /> {{'registration.submit'|trans}} </button>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                    <ul class="error">
                        <li>{{ form_errors(form.email) }} </li>
                        <li>{{ form_errors(form.username) }} </li>
                        <li>{{ form_errors(form.plainPassword) }} </li>
                        <li>{{ form_errors(form.roles) }} </li>
                        <li>{{ form_errors(form) }} </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

