{% extends 'Templates/baseSubMenu.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
{% endblock %}
{% block menu %}
    {{ parent() }}
    <h1 class="titre_form"> Modification du mot de passe </h1>
<hr align="left" class="séparateur">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ parent() }}
            </div>

            {% trans_default_domain 'FOSUserBundle' %}
            <div class="col-md-7 col-push-5">
                <form id="profileForm" action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
                    <table>
                        <tr>
                            <td> {{ form_label (form.current_password) }} </td>
                            <td> {{ form_widget (form.current_password) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.plainPassword['first']) }} </td>
                            <td> {{ form_widget (form.plainPassword['first']) }} </td>
                        </tr>
                        <tr>
                            <td> {{ form_label (form.plainPassword['second']) }} </td>
                            <td> {{ form_widget (form.plainPassword['second']) }} </td>
                        </tr>

                    </table>
                    <div>
                        <button type="submit" value="{{ 'change_password.submit'|trans }}" />{{ 'change_password.submit'|trans }} </button>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

